.botonesCustom {
    border: 0px;
    color: #fff;
    text-shadow: 0 1px rgba(0,0,0,0.1);
    background-color: rgba(9,9,121,1);
}

    .botonesCustom:hover {
        border: 0px;
        text-shadow: 0 1px rgba(0,0,0,0.3);
        background-color: rgba(34,193,195,1);
    }

img {
    object-fit: cover;
    border-radius: 15px 15px 0 0;
    height: 230px;
    width: auto;
}

.card {
    margin-bottom: 20px;
    width: 250px;
    min-height: 350px;
    height: 100%;
    border-radius: 15px;
}

footer {
    background: black;
}

.navbar {
    background: black;
    color: white;
}

a{
    color: white;
}

.navbar-toggler{
    background-color: aqua;
}

#paginacion{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:20px;
}

.active-pagination {
    background-color: rgba(9,9,121,1);
    color:white;
}





















